<!DOCTYPE html>
<html lang="ru>">
<!-- <html lang="ru"> -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Get Weather</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="page">
    <%= _.template(require("./templates/weather.html"))(data) %>

            <script src="./assets/js/jquery-3.5.1.min.js"></script>
            <script src="./assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>